{% extends 'base.html '%}
{% block title %} Friends {% endblock %}
{% block content %}
<div class="container">

    <hr>
    <h3>Your Friends</h3>
    {% for friend in logged_user_profile.get_friends %}
        <img src="{{friend.user.avatar.url}}" style="height:50px;width:50px;border-radius:30px;" class="img-fluid">
        <a href="/friends/view_friends_profile/{{friend.id}}"><strong>{{friend}}</strong><br></a><br>
        <button type="submit" class="btn btn-outline-danger btn-sm">Remove Friend</button><br><br>
    {% endfor %}

    {% for user in logged_user_profile.relationship %}
        {{user}}
    {% endfor %}

    <hr>
    <h3>People You May Know</h3>
    {% for obj in people_you_may_know %}
        {% if not obj.username in logged_user_profile.get_friends %}
            <img src="{{obj.avatar.url}}" style="height:50px;width:50px;border-radius:30px;" class="img-fluid">
            <a href="/friends/view_friends_profile/{{obj.username.id}}"><strong>{{obj.username}}</strong><br></a><br>
            <form action="{% url 'users:addfriend'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="receiver_id" value="{{obj.username_id}}">
                <button type="submit" class="btn btn-outline-success btn-sm">Add Friend</button><br>
<!--                {% for request in friend_requests %}-->
<!--                    {% if user.id == request.sender %}-->
<!--                        <button type="submit" class="btn btn-outline-success btn-sm" disabled>Request Sent</button><br>-->
<!--                    {% else %}-->
<!--                        <button type="submit" class="btn btn-outline-success btn-sm">Add Friend</button><br>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
            </form>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <hr>
    <h3>Friend Requests</h3>
    {% for request in friend_requests %}
        <img src="{{request.sender.user.avatar.url}}" style="height:50px;width:50px;border-radius:30px;" class="img-fluid">

        <a href="/friends/view_friends_profile/{{request.sender.id}}"><strong>{{request.sender}}</strong><br></a><br>
        <form action="{% url 'users:acceptfriendrequest' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="sender_id" value="{{request.sender.id}}">
            <button type="submit" class="btn btn-outline-success btn-sm">Confirm</button><br>
        </form>
    {% endfor %}
</div>

{% endblock %}