{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">
<!--        <nav class="nav flex-column">-->
<!--          <a class="nav-link disabled">{{user.username}}</a>-->
<!--          <a class="nav-link active" href="#">Active</a>-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </nav>-->
    </div>
    <div class="col-md-6 my-4">
                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-light btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
          Create Your Post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      {{form}}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary">Post</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
        <div class="post bg-light">
            {% for post in posts %}
            <div class="post-complete my-2" style="border-radius:10px;">
                <div class="author-info" style="display:flex;">
                    <div class="author-image">
                        <img src="{{post.author.profile.avatar.url}}" style="height:50px;width:50px;border-radius:30px;" class="img-fluid">
                    </div>
                    <div class="post-detail mx-2">
                        <a href="/friends/view_friends_profile/{{post.author.profile.id}}"><strong>{{post.author}}</strong><br></a>
                        <small>{{post.created_at|timesince}} ago</small>
                    </div>
                </div>
                <div class="complete-post my-2">
                    {{post.title}}<br>

                    {% if post.image %}
                        <div class="imagepart justify-content-center">
                            <img src="{{post.image.url}}" style="width:100%;height:500px;" class="img-fluid" alt="Image loading Failed"><br>
                        </div>
                    {% endif %}
                    {{post.content}}<br>
                    <br>
                     <strong>{{post.liked.all.count}} likes</strong>
                    <form action="{% url 'posts:like-post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        {% if user not in post.liked.all %}
                            <button type="submit" class="btn btn-outline-success">Like</button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-danger">Unlike</button>
                        {% endif %}
                    </form>
                    <hr>
                    <hr>`
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
<!--        <h2>This is right sidebar</h2>-->
    </div>
</div>


{% endblock %}