{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-2">
<!--        <h3>This is left sidebar</h3>-->
    </div>
    <div class="col-md-8" style="background:#6c6969;">
                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
          Create Your Post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      {{form}}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary">Post</button>
                  </div>
                </div>
              </form>
          </div>
        </div>

<!--        index html-->

<!--        posts portion-->
        <div class="post" style="width:90%;margin:0 auto;background:#6c6969;">
            {% for post in posts %}
                <div class="post-complete my-2" style="border:3px solid white; border-radius:10px;">
                    <div class="author-info mx-2 my-2" style="display:flex;">
                        <div class="author-image">
                            <img src="{{post.author.user.avatar.url}}" style="height:50px;width:50px;border-radius:30px;" class="img-fluid">
                        </div>
                        <div class="post-detail mx-2">
                            <a href="/friends/view_friends_profile/{{post.author.id}}"><strong>{{post.author}}</strong><br></a>
                            <small>{{post.created_at|timesince}} ago</small>
                        </div>
                    </div>
                    <div class="complete-post my-2">
                        <span class="post-title mx-2">{{post.title}}</span><br>

                        {% if post.image %}
                            <div class="imagepart justify-content-center">
                                <img src="{{post.image.url}}" style="width:100%;height:500px;" class="img-fluid" alt="Image loading Failed"><br>
                            </div>
                        {% endif %}
                        <span class="post-content mx-2">{{post.content}}</span><br>
                        <hr>
                        <div class="like-comment-buttons" style="display:flex;">
                            <div class="like-button mx-2">
                                <strong>{{post.liked.all.count}} likes</strong>
                                <form action="{% url 'posts:like-post' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    {% if user not in post.liked.all %}
                                        <button type="submit" class="btn btn-outline-success btn-sm">Like</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Unlike</button>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="comment-button mx-2 my-4">
                                <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample{{post.id}}" aria-expanded="false" aria-controls="collapseExample">
                                    View Comments
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample{{post.id}}">
                          <div class="card card-body">
                            <div class="comment-portion">
                                <div class="post-comments mx-auto" style="width:90%;">
                                    {% for comment in comments %}
                                        {% if comment.post_id == post.id %}
                                            <div class="commenter-info" style="display:flex;">
                                                <div class="comment-author-image">
                                                    <img src="{{comment.author.user.avatar.url}}" style="height:40px;width:40px;border-radius:30px;" class="img-fluid">
                                                </div>
                                                <div class="comment-info mx-2">
                                                    <strong>{{comment.author.user}}</strong><br>
                                                    {{comment.comment}}<br>
                                                    <span style="font-size:10px;">{{comment.created_at|timesince}} ago</span>
                                                    <hr>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="comment-form my-3">
                            <form action="{% url 'posts:comment-post' %}" method="post" class="form-inline">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <img src="{{logged_user_profile.avatar.url}}" style="height:35px;width:35px;border-radius:30px;" class="img-fluid mb-2 mx-2">
                            <div class="form-group mb-2" style="width:80%;">
                                <input type="text" class="form-control mx-sm-3" style="width:100%;" name="comment" maxlength="250" placeholder="Enter Your Comment" required>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-sm mb-2">Comment</button>
                            </form>
                        </div>
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2">
<!--        <h2>This is right sidebar</h2>-->
    </div>
</div>


{% endblock %}
