<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body style="background-color:#d2caca;">
<div class="container" style="width:30%; margin-top:100px;">
    <h4 style="text-align: center; color:#7d607a;">Create your account</h4>
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
            {% endfor %}
        {% endif %}
      </div>
        <div class="form-group">
        <label for="exampleInputusername">Username</label>
        <input type="text" class="form-control" name="username" id="exampleInputusername" placeholder="Enter username">
            {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
            {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control" name="password2"id="exampleInputPassword2" placeholder="Confirm Password">
          {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
            {% endfor %}
          {% endif %}
      </div>
        <p>Already a user <a href="/login">Signin</a></p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>