{% extends '../base.html %}
{% block content %}
<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-5">
            <img src="{{obj.avatar.url}}">
        </div>
        <div class="col-md-7">
            <table class="table">
                <tr>
                  <td><strong>Firstname</strong></td>
                  <td>{{obj.first_name}}</td>
                </tr>
                <tr>
                  <td><strong>Middlename</strong></td>
                  <td>{{obj.middle_name}}</td>
                </tr>
                <tr>
                  <td><strong>Lastname</strong></td>
                  <td>{{obj.last_name}}</td>
                </tr>
                <tr>
                  <td><strong>Country</strong></td>
                  <td>{{obj.country}}</td>
                </tr>
                <tr>
                  <td><strong>Phone</strong></td>
                  <td>{{obj.phone}}</td>
                </tr>
              </tbody>
            </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Update Your Profile
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}