{% extends '../base.html %}
{% block content %}
<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-5">
            <img src="{{profile.avatar.url}}" style="border-radius:50px;">
        </div>
        <div class="col-md-7">
            <table class="table">
                <tr>
                  <td><strong>Firstname</strong></td>
                  <td>{{profile.first_name}}</td>
                </tr>
                <tr>
                  <td><strong>Middlename</strong></td>
                  <td>{{profile.middle_name}}</td>
                </tr>
                <tr>
                  <td><strong>Lastname</strong></td>
                  <td>{{profile.last_name}}</td>
                </tr>
                <tr>
                  <td><strong>Country</strong></td>
                  <td>{{profile.country}}</td>
                </tr>
                <tr>
                  <td><strong>Phone</strong></td>
                  <td>{{profile.phone}}</td>
                </tr>
              </tbody>
            </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Update
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Your Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="modal-body">
                        {{form}}
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}